In [68]:
import pandas as pd

In [71]:
버스 = pd.read_csv('관광_버스.csv')
지하철 = pd.read_csv('관광_지하철.csv')
숙박 = pd.read_csv('관광_숙박.csv')
식음 = pd.read_csv('관광_식음.csv')

In [78]:
지하철

,YYYYMM_BASE,SITE_CD,LOC_NM,LATITUDE,LONGITUDE,AREA_CD,LOAD_DTM,CENT_CD,관광_지하철
0,202006,A01,40계단,35.104343,129.035340,2.101051e+12,ZZZZZZ,BBP23,3
1,202006,A01,40계단테마거리,35.103972,129.034629,2.101051e+12,ZZZZZZ,BBP23,3
2,202006,A01,BIFF광장,35.098620,129.028759,2.101058e+12,ZZZZZZ,BBP23,4
3,202006,A01,광복로,35.099470,129.031166,2.101057e+12,ZZZZZZ,BBP23,3
4,202006,A01,백산기념관,35.101955,129.034560,2.101052e+12,ZZZZZZ,BBP23,3
...,...,...,...,...,...,...,...,...,...
230,202311,A24,해운대 해수욕장,35.155000,129.160000,NaN,ZZZZZZ,BBP23,1
231,202311,A25,황령산 봉수대,35.158000,129.080000,2.113056e+12,ZZZZZZ,BBP23,0
232,202311,A26,흰여울문화마을,35.078000,129.040000,2.104055e+12,ZZZZZZ,BBP23,0
233,202311,A27,임랑 해수욕장,35.317000,129.260000,2.131012e+12,ZZZZZZ,BBP23,0
234,202311,A28,일광 해수욕장,35.260000,129.230000,2.131031e+12,ZZZZZZ,BBP23,0

In [85]:
관광_3요소 = pd.concat([
    버스[['LOC_NM','LATITUDE','LONGITUDE']], 
    지하철[['관광_지하철']], 
    숙박[['관광_숙박']], 
    식음[['관광_식음']]
], axis=1)

In [86]:
관광_3요소.head()

     LOC_NM   LATITUDE   LONGITUDE  관광_지하철  관광_숙박  관광_식음
0      40계단  35.104343  129.035340       3    114    503
1  40계단테마거리  35.103972  129.034629       3    122    539
2    BIFF광장  35.098620  129.028759       4    177    781
3       광복로  35.099470  129.031166       3    176    680
4     백산기념관  35.101955  129.034560       3    138    518

In [87]:
관광_3요소.to_csv('관광_3요소.csv')

In [ ]:
_c